* {
* margin: 0;
padding: 0;
}  

nav {
    background-color: black;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}


nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li a:hover {
    color: red;
    text-decoration: underline;
}
.gallery img{
    width: 100%;


}

#thor {  
    color: red;
    font-size: 30px;
    background-color: black;
}


